---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';

const doggos = await Astro.glob('../images/doggos/*.{jpg,png,PNG,JPG,jpeg}').then(files => {
    return files.map(file => file.default)
});
---

<Layout title='Doggos'>
    <div class="grid place-items-center grid-cols-3 gap-2 m-2 lg:m-auto max-w-[90ch]">
        {doggos.map((doggo) => (
            <div class="bg-[#0E121C]">
                <Picture class="size-40 md:size-96 p-1" src={doggo} formats={['webp']} alt="another doge"></Picture>
            </div>
        ))}
    </div>
</Layout>

<style>
</style>