---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import molly from '../images/meandmolly.jpg';
---

<Layout title="Anthony Camarillo">
	<main class="m-auto p-1.5 flex md:flex-row flex-col max-w-[60ch] justify-center">
		<div class = "m-8">
			<h1 class="bg-clip-text text-transparent bg-gradient-to-tr from-[#7c3aed] via-[#da62c4] via-60% to-[#ffffff] to-90% text-[3rem] m-0 font-extrabold">Hi, my name is Anthony</h1>
			<p class="text-[1.25rem] text-[#e6e6fa]">Engineer who loves dogs.</p>
		</div>
		<div class="m-8 flex justify-center w-[50vw] bg-[#0E121C]">
			<Picture class="p-1 w-[50vw] h-[35vh] md:w-[35vw] md:h-[35vh] lg:h-[50vh]" src={molly} alt="molly bear"></Picture>
		</div>
	</main>
</Layout>
<style>
</style>
