---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import molly from '../images/meandmolly.jpg
---

<Layout title="Anthony Camarillo">
	<main>
		<div class = "home-container">
			<h1 class="text-gradient">Hi, my name is Anthony</h1>
			<p>Software Engineer who loves dogs.</p>
		</div>
		<div class="home-container">
			<Image src={molly} alt="molly bear">
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		display: flex;
		max-width: 60ch;
		flex-direction: column;
		justify-content: center;
	}
	img {
		width: 75%;
		height: 60%;
		border-radius: 3.75%;
		box-shadow: 5px 5px 5px;
	}
	@media screen and (min-width: 850px) {
		main {
			flex-direction: row;
		}
		img {
			width: 15vw; 
			height: 20vw;
		}
	}

	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.home-container {
		margin: 2rem;
	}	
	.home-container p {
		font-size: 1.25rem;
		color: lavender;
	}
</style>
