---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects"> 
    <div class="project-content">
        <div class="project-section">
            <h1>
                Projects
            </h1>
            <p>
                Lets put some project stuff right here brother.
            </p>
        </div>
    </div>
</Layout>
<style>
    .project-content {
        display: grid;
        margin: auto;
        padding: 1.5rem;
        max-width: 75ch; 
    }
    .project-section {
        color: snow;
    }
</style>