---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects"> 
    <div class="project-content">
        <div class="project-section">
            <h1>
                Projects
            </h1>
            <h2>
                Here are some projects I've enjoyed working on.
            </h2>
        </div>
        <div class="project-section">
            <h2>
                Broom
            </h2>
            <p>
                Broom is a CLI tool I built to clean up all of the git branches that accumulate on my machine because I'm too forgetful to manually delete them. Check out this project <a href="https://github.com/a-camarillo/broom">here</a> on GitHub. 
            </p>
            <img src="/broomDemo2.gif" id="broom-gif">
        </div>
    </div>
</Layout>
<style>
    .project-content {
        display: grid;
        margin: auto;
        padding: 1.5rem;
        max-width: 75ch; 
    }
    .project-section {
        color: snow;
    }
    .project-section p {
        font-size: 1.35rem;
    }
    #broom-gif {
        width: 100%
    }
    a {
        text-decoration: underline;
    }
    a:visited {
        text-decoration: none;
        color: violet;
    }
</style>