---
---
<div class="border-box flex flex-col w-full justify-center items-center bg-[#0e121c] dropdown md:hidden">
    <span class="m-[5px] text-center">
        <a class="no-underline uppercase" href="/">Home</a>
    </span>
    <span class="m-[5px] text-center">
        <a class="no-underline uppercase" href="/about">About</a>
    </span>
    <span class="m-[5px] text-center">
        <a class="no-underline uppercase" href="/projects">Projects</a>
    </span>
    <span class="m-[5px] text-center">
        <a class="no-underline uppercase" href="/doggos">Doggos</a>
    </span>
</div>
<style>
.dropdown {
    display: none;
}
.enable {
    display: flex;
}
</style>