---
export interface Props {
}
---

<div class="footer">
    <p>Built with 
        <a href="https://astro.build/">
            Astro 
        &#x1F680;
        </a>
    </p>
</div>

<style>
    .footer {
        display: flex;
        justify-content: center;
        color: lavender;
        margin-top: auto;
    }

    a {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
        color: violet;
    }
</style>