---
---
<div
  class="prose 
  grid 
  m-auto
  prose-h1:text-white
  prose-h1:font-bold
  prose-h1:my-5
  prose-h2:text-white
  prose-h2:my-5
  max-w-prose
  prose-p:text-white
  ">
  <slot />
</div>
